@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root{
    --text-color: #333333;
}

*{
    font-family: 'PT Sans', sans-serif;
    margin: 0;padding: 0;box-sizing: border-box;
}

/*header-section*/

.header{
    background-color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 8px;
    font-size: 1.1rem;
}

.header__navlinks a{
    text-decoration: none;
    color: white;
    margin-right: 20px; 
    padding-left: 10px; 
}

.header__social i{
    color: white;
    margin-right: 20px;
}

/*main-pg*/

.container-main{
    text-align: center;
    margin: auto;
    height: 100vh;
    background-image: url(img/showcase.jpeg);
    background-size: cover;
    background-position: center;

}

.container-main__contents{
    width: 90%;
    text-align: center;
    margin: auto;
    padding-top: 150px;
}

.container-main__contents h1{
    color: white;
    font-size: 64px;
}

.container-main__contents h2{
    color: white;
    font-size: 32px;
    padding-top: 27px;
}

.container-main__contents p{
    color: white;
    font-size: 20.8px;
    padding-top: 27px;
    line-height: 33.5px;
}

/*music-pg*/

.container-music{
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: #252529;
}

.container-music__contents{
    margin: auto;
    width: 90%;
}

.container-music__contents h1{
    color: white;
    font-size: 40px;
    line-height: 40px;
    padding-top: 40px;
}

.container-music__contents h2{
    color: white;
    padding-top: 40px;
    font-size: 32px;
}

.container-music__contents p{
    color: white;
    padding-top: 32px;
    font-size: 20.8px;
    line-height: 33px;
    padding-bottom: 33px;
}

.container-music__button{
    font-size: 16px;
    width: 155px;
    height: 35px;
    background-color: #b90415;
    color: white;
    border: none;
}

.container-music__img-container{
    width: 60%;
    margin: auto;
    padding-top: 20px;
}


.container-music--image{
    max-width: 100%;
    height: 100hv;
    padding-bottom: 30px;     
}

/*video-pg*/
.container-video{
    background-color: #f4f4f4;
    text-align: center;
    margin: auto;
    width: 100%;
}

.container-video__content{
    width: 90%;
    margin: auto;
}

.container-video__content h2{
    color: var(--text-color);
    font-size: 33px;
    padding-top: 32px;
}

.container-video__content p{
    color: var(--text-color);
    font-size: 20.8px;
    padding-top: 32px;
    line-height: 33px;
    padding-bottom: 32px;
}

.container-video--button{
    font-size: 16px;
    line-height: 25.6px;
    background-color: #103063;
    color: white;
    border: none;
    width: 95px;
    height: 35px;
}

.container-video__img-container{
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

.container-video--image{
    max-width: 100%;
    height: 100hv;
    padding-bottom: 30px;
}

/*info-section*/

.container-info{
    background: url(img/section-bg.jpeg) no-repeat bottom/cover;
    padding: 10rem 0;
}

.container-info__contents{
    width: 90%;
    margin: auto;
    text-align: center;
}

.container-info__contents h2{
    color: white;
    font-size: 32px;
    padding-bottom: 32px;
}

.container-info__contents p{
    font-size: 22.3px;
    color: white;
    line-height: 25.6px;
}

/*gift-section*/

.container-gift{
    background-color: #f4f4f4;
    width: 100%;
    padding: 2rem;
}

.container-gift--img{
    width: 580px;
    height: 401px;
}

.container-gift__flexbox{
    display: flex;
    width: 90%;
    margin: auto;
}

.container-gift-leftbox{
    width: 60%;
}

.container-gift-rightbox{
    width: 100%;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.container-gift-rightbox h2{
    color: var(--text-color);
    font-size: 24px;
}

.container-gift-rightbox p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 25.6px;
    padding: 16px 0;
}

/*footer*/



.footer{
    width: 100%;
    background-color: #252529;
    padding: 45px 0;
    
}

.footer__contents{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}

.r1 li{
    list-style-type: none;
    padding: 5.5px 0 0 0;
    font-size: 14.5px;
    text-align: left;
}

.r1 li a{
    color: #8a7b7b;
    text-decoration: none;
}

.r1 h3{
    font-size: 19.2px;
    color: white;
    font-weight: normal;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.r1 ul{
    padding-top: 12px;
}

/*creidts*/

.container-creidts{
    padding: 18px;
    text-align: center;
    background-color: #333333;
}

.container-creidts p{
    font-size: 16.5px;
    color: white;

}








